$green: #A6E22A;
$blue: #84D7EC;
$yellow: #E6DB74;
$magenta: #F92672;
$greylight: #E6E6E6;
$original: #eee;
$background: #383830;
$grey: #595959;
$violet: #AE81FF;

.highlight {
  font-size: 12px;
  line-height: 1.2em;
  background-color: $background;
  color: $original;
  .lineno {
    margin: 3px;
    font-size: 16px;
    color: $greylight;
  }
  .c, .cm, .cp, .c1, .cs { /* comment */
    color: $grey;
  }
  .k, .kc, .kd, .kn, .kp, .kr, .kt, .o, .nt { /* key word*/
    color: $magenta;
  }
  .m, .mf, .mh, .mi, .mo { /*number*/
    color: $violet;
  }
  .s, .sb, .sc, .sd, .s2, .se, .sh, .si, .sx, .sr, .s1, .ss { /*string*/
    color: $yellow;
  }
  .nf, .na, .nc {
    color: $green;
  }
  .css .k, .nb, .kd, .n {
    font-style: italic;
    color: $blue;
  }
}